version: "3"
services:
  validator:
    image: amanjsingh/validator
    container_name: validator
    depends_on:
      - calculator
    ports:
      - 5000:5000
    volumes:
      - .:/usr/src/app/data

  calculator:
    image: amanjsingh/calculator
    container_name: calculator
    volumes:
      - .:/usr/src/app/data